In [12]:
#append
a=[10,20,30]
a.append(40)
a

[10, 20, 30, 40]

In [19]:
#wap to create list of all integers from 1 to 10
a=[]
for i in range(1,11):
    a.append(i)
    print(a)
a

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
#list comprehnesion
#list=[expression for item in sequence if condition]

range(1, 11)

In [21]:
a=[x for x in range(1,11)]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
#wap to create list of all sqares of integers from 1 to10
a=[x**2 for x in range(1,11)]
a

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [25]:
a=[]
for i in range(1,11):
    a.append(i**2)
    print(a)
a

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49, 64]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [40]:
#wap to create list of all integers from 100 to 200 that are divisible by n
n=int(input("enter the number"))
for i in range(100,201):
    if i%n==0:
        a.append(i)
        print("integer divisible by 5 %d"%(i))
print(a)

enter the number5
integer divisible by 5 100
integer divisible by 5 105
integer divisible by 5 110
integer divisible by 5 115
integer divisible by 5 120
integer divisible by 5 125
integer divisible by 5 130
integer divisible by 5 135
integer divisible by 5 140
integer divisible by 5 145
integer divisible by 5 150
integer divisible by 5 155
integer divisible by 5 160
integer divisible by 5 165
integer divisible by 5 170
integer divisible by 5 175
integer divisible by 5 180
integer divisible by 5 185
integer divisible by 5 190
integer divisible by 5 195
integer divisible by 5 200
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170, 175, 180, 185, 190, 195, 200]

In [44]:
#compresntion
n=int(input("enter the number"))
a= [i for i in range(100,201) if i%n==0]

print(a)

enter the number5
[100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170, 175, 180, 185, 190, 195, 200]

In [46]:
#insert enter to index position
a=[10,20,30]
a.insert(1,40)
a

[10, 40, 20, 30]

In [47]:
a.insert(5,50) # if index is max it will insert to last
a

[10, 40, 20, 30, 50]

In [49]:
a.insert(-7,60)  #intresting ............
a

[60, 60, 10, 40, 20, 30, 50]

In [51]:
#extend(object)
a=[10,20,30]
b=[40,50,60]
a.extend(b)
a

[10, 20, 30, 40, 50, 60]

In [54]:
a=[10,20,30]
b="abhi"
a.extend(b)
a

[10, 20, 30, 'a', 'b', 'h', 'i']

In [55]:
a=[10,20,30]
b=range(1,11)
a.extend(b)
a

[10, 20, 30, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [59]:
#removing elements from list
#1)clear    it will empty the list but list will in memory
a=[10,20,30]
a.clear()
a

[]

In [62]:
#2)pop(index)    stack FILO pop default index -1
a=[10,20,30]
a.pop()     # by default -1 we can gives other valid index number

30

In [63]:
a

[10, 20]

In [65]:
#3) REVOVED (ITEM) removes first occurance of given item from list
a=[10,20,30,20]
a.remove(20)
a

[10, 30, 20]

In [66]:
a=[30,40,50,60,30,70,30]
a.remove(30)
a

[40, 50, 60, 30, 70, 30]