In [ ]:
#LOGICAL PROCESSING OF ELEMENTS IN LIST

In [6]:
#WAP TO PRINT THE NUMBERS OF A SPECIFIED LIST AFTER REMOVEING EVEN NUMBERS FROM IT
a=eval(input("enter the list"))
b=[]
for x in a:
    if x%2!=0:
        b.append(x)
print("list of even numbers are",b)

enter the list[10,20,30]
list of even numbers are []

In [9]:
a=eval(input("enter the list")) #comprehension
a=[x for x in a if x%2!=0]
print(a)

enter the list[10,20,30]
[]

In [11]:
#wap to find all the values in list that are greater than a specified numbers (try to used comprehension)
a=eval(input("enter the list"))
n=eval(input("enter the number"))
b=[]
for x in a:
    if x>n:
        b.append(x)
print(b)

enter the list[10,20,30]
enter the number25
[30]

In [13]:
a=eval(input("enter the list"))
n=eval(input("enter the number"))
a=[x for x in a if x>n]
a

enter the list[10,20,30]
enter the number20

[30]

In [14]:
#wap to generate and print a list except for the first 5 elements whwre the values are squaree of nubres between 1 and 30.
a=[]
for x in range(1,31):
    a.append(x*x)
print(a[5:])

[36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

In [15]:
a=[x*x for x in range(1,31)] #comprehension
print(a[5:])

[36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

In [16]:
#wap  programm to insert a given string the beginning of all items in a list

#sampele list [10,20,30] string:emp
#output ["emp1","emp2","emp3"]

a=[1,2,3,4]
b=[]
for x in a:
    b.append("emp"+str(x))
b

['emp1', 'emp2', 'emp3', 'emp4']

In [19]:
a=eval(input("enter the list []"))
s=input("enter the string")

b=[]
for x in a:
    b.append(s+str(x))
b

enter the list [][10,20,30,40]
enter the stringabhi

['abhi10', 'abhi20', 'abhi30', 'abhi40']

In [24]:
#wap to check whwather two list are circularly identical or not
#[10,20,30,40] and [30,40,10,20]
a=eval(input("enter the list1 []"))
b=eval(input("enter the list2 []"))
a=[str(x) for x in a]
b=[str(x) for x in b]
a="".join(a)
b="".join(b)
if b in a*2:
    print("list are circularly identical")
else:
    print("list are not circularly identical")

enter the list1 [][10,20,30,40]
enter the list2 [][30,40,10,20]
list are circularly identical

In [22]:
a=eval(input("enter the list1 []"))
str(a)

enter the list1 [][10,20]

'[10, 20]'

In [26]:
a=eval(input("enter the list1 []"))
a=[str(x) for x in a]
a
a="".join(a)
a

enter the list1 [][10,20,30,40]

'10203040'

In [29]:
#wap to iterate over two list of same lentgh simpultaneously(bif - zip)
#zip()
a=[10,20,30]
b=[50,60,70]
zip(a,b)
list(zip(a,b))
for x, y in zip(a,b):
    print(x,y)

10 50
20 60
30 70

In [30]:
for  y in zip(a,b):
    print(y)

(10, 50)
(20, 60)
(30, 70)

In [31]:
a=eval(input("enter the list1 []")) #shorted list paryant kam krte
b=eval(input("enter the list2 []"))
for x, y in zip(a,b):
    print(x,y)

enter the list1 [][10,20,30,40]
enter the list2 [][10,52,63]
10 10
20 52
30 63

In [38]:
#enumerate(iterable,start=0)
#write a programm to print a specifird list after removing the 0th,4th and 5th elements (bif enumerate )
#sample list: ["red ","green","white","black","pink","yellow"]
#output:["green","white","black"]

In [39]:
a=["red ","green","white","black","pink","yellow"]
list(enumerate(a))

[(0, 'red '),
 (1, 'green'),
 (2, 'white'),
 (3, 'black'),
 (4, 'pink'),
 (5, 'yellow')]

In [40]:
b=[y for (x,y) in enumerate(a) if x not in (0,4,5)]
b

['green', 'white', 'black']

In [41]:
for (x,y) in enumerate(a):
    if x not in [0,4,5]:
        print(y)

green
white
black

In [2]:
a=input("enter the number")   # it will create list of strings
list(a)

enter the number1 2 3 4 5 6 7 8 9

['1',
 ' ',
 '2',
 ' ',
 '3',
 ' ',
 '4',
 ' ',
 '5',
 ' ',
 '6',
 ' ',
 '7',
 ' ',
 '8',
 ' ',
 '9']