In [1]:
#mathematical operators with list object

In [5]:
# + for concantenation of list
a=[10,"abc",30]
b=[40,"abc",10]
c=a+b
print("list=",c)

list= [10, 'abc', 30, 40, 'abc', 10]

In [9]:
# (*) for repeation of list element
a=[10,"abc",30]
b=a*3
print(b)

[10, 'abc', 30, 10, 'abc', 30, 10, 'abc', 30]

In [10]:
#comparing list object   for exactly same or not
a=[10,"abc",30]
b=[40,"dfv",10]
a==b

False

In [12]:
a!=b

True

In [13]:
#(<,> <=,>= ) it is used to compare only first element and give result .
#comparing list object   for exactly same or not
a=[10,"abc",30]
b=[40,"dfv",10]
a<=b         #check only first  ie 10<=40

True

In [14]:
a=[10,"abc",30]
b=[40,"dfv",10]
a>=b

False

In [18]:
#membership operator (in)
#accepting list as input
a=eval(input("enter the list:"))
for x in a:
    print(x,"ist in list")

enter the list:[10,20,30]
10 ist in list
20 ist in list
30 ist in list

In [21]:
#BIF max()  list having same elemrnyt is all are string or float or int only

a=[10,20,30]
max(a)

30

In [23]:
#BIF min()
min(a)

10

In [24]:
#BIF sum()
sum(a)

60

In [29]:
#BIF any() it return true if at leat one item in the list has a true value (true elemrnt are non zero element)

b=[]
any(b)

False

In [30]:
any(a)

True

In [31]:
#BIF all()it return true if all in the list has a true value (true elemrnt are non zero element) and empty list return true

In [32]:
all(b)

True

In [34]:
c=[10,20,0]

In [35]:
all(c)

False

In [36]:
#wap to find sum of all elements of list 
a=eval(input("enter tje list in []"))
s=0
for x in a:
    s+=x
print("sum of all elements =",s)

enter tje list in [][10,20,30]
sum of all elements = 60

In [37]:
a=eval(input("enter tje list in []"))
sum(a)

enter tje list in [][10,20,30]

60

In [38]:
#wap to multiply all the items in list
a=eval(input("enter tje list in []"))
p=1
for x in a:
    p*=x
print("priduct of all elements =",p)

enter tje list in [][10,20,30]
priduct of all elements = 6000

In [39]:
#wap to get the smallest number from the list
a=eval(input("enter tje list in []"))
m=a[0]
for x in a:
    if x<m:
        m=x
print("smallest of all elements =",m)

enter tje list in [][10,20,30]
smallest of all elements = 10

In [41]:
min(a) # string m,in is calculated alphabetrically

10